@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$background-color: #F5F5F5;
$secundary-font: 'Shrikhand';

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.main-container{
    margin: auto;
    width: 100%;
    background-color: $background-color;
} 

section, footer{
    padding: 0 20px 36px 20px;
    @include desktop-only{
        padding-left: 168px;
        padding-right: 168px;
    }
}

h1, h2, h3, h4{
    margin: 0;
}

h1, h2{
    padding-top: 36px;
    padding-bottom: 24px;
    font-size: 24px;
    font-weight: 700;
}

p{
    margin:0;
}

a{
    text-decoration: none;
    &:visited{
        color: #000000;
    }
}